@tailwind base;
@tailwind components;
@tailwind utilities;

/* .text-blue {
  color: blue;
}

.text-red {
  color: red;
}

.background-content {
  background-color: bisque;
}

.background-profile {
  background-color: brown;
} */
